<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dodaj mecz</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:include="components :: menu"></div>

<form action="/match/add" class="col-6" method="post" th:object="${Match}">
    <div class="form-group col-6">
        <div class="form-group col-3">
            <input type="hidden" id="id" name="id" th:field="*{id}"/>
            <label>Gospodarz</label>
            <select th:field="*{homeTeamId}" name="homeTeam" id="homeTeam">
                <option th:each="i : ${teams}" th:value="${i.id}" th:text="${i.name}">Example 1</option>
            </select>
        </div>
        <div class="form-group col-3">
            <label>Gość</label>
            <select th:field="*{awayTeamId}" name="awayTeam" id="awayTeam">
                <option th:each="j : ${teams}" th:value="${j.id}" th:text="${j.name}">Example 1</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <!--<button type="reset" class="btn btn-info">Clean</button>-->
    </div>

</form>
</body>
</html>