<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dodaj mecz</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:include="components :: menu"></div>
<h4>Dodaj mecz</h4>
<form action="/match/add" class="col-6" method="post" th:object="${Match}">
    <div class="form-group col-6">
        <div class="form-group col-6">
            <label>Gospodaz</label>
            <select th:field="*{homeTeam.id}" name="homeTeamId" id="homeTeamId">
                <option th:each="i : ${teams}" th:value="${i.id}" th:text="${i.name}">Example 1</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label>Przeciwnik</label>
            <select th:field="*{awayTeam.id}" name="awayTeamId" id="awayTeamId">
                <option th:each="j : ${teams}" th:value="${j.id}" th:text="${j.name}">Example 1</option>
            </select>
        </div>

        <div class="col-6">
            <label>Matchday</label>
            <input th:field="*{matchday}" type="number" min="0" max="365" class="form-control" id="matchday"
                   name="matchday" value=""/>
        </div>

        <div class="col-6">
            <label>Grupa</label>
            <input th:field="*{group}" type="text" class="form-control" id="group" name="group" value=""/>
        </div>

        <div class="col-6">
            <label>Wynik</label>
            <input th:field="*{homeTeamGoals}" type="number" min="0" max="1000" class="form-control" id="homeTeamGoals"
                   name="homeTeamGoals" value=""/>
            <input th:field="*{awayTeamGoals}" type="number" min="0" max="1000" class="form-control" id="awayTeamGoals"
                   name="awayTeamGoals" value=""/>
        </div>

        <div class="col-6">
            <label>Czas trwania</label>
            <input th:field="*{duration}" type="text" class="form-control" id="duration" name="duration" value=""/>

        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <!--<button type="reset" class="btn btn-info">Clean</button>-->
    </div>

</form>
</body>
</html>
