<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <title>Indeks</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>


<body>
<div th:fragment="menu">
    <nav>
        <div><a href="/" th:text="Home">Thymeleaf not working [HOME]</a></div>
        <div><a href="/team/list">Team List</a></div>
        <div><a href="/team/addForm">[ADD_TEAM]</a></div>
        <div><a href="/interestingFacts/bestTeam">Best team [API]</a></div>
    </nav>
</div>
</body>

</html>
