<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <title>Indeks</title>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
<div th:fragment="menu">
    <nav>
        <div><a href="/" th:text="Home">Thymeleaf not working [HOME]</a></div>
        <div><a href="/team/list">Lista drużyn [local db]</a></div>
        <div><a href="/team/addForm">Dodaj drużynę [local db]</a></div>
        <div><a href="/match/list">Lista rozgrywek [local db]</a></div>
        <div><a href="/match/addForm">Dodaj mecz [local db]</a></div>
        <!--<div><a href="/teams/winnerTeam">Lista wygranych meczów</a></div>-->
        <!--<div><a href="/interestingFacts/bestTeam">Best team [API]</a></div>-->
        <div><a href="/teams/selectTeam">Lista wygranych meczów danego zespołu [external API]</a></div>
    </nav>
    <hr>
</div>
<div th:fragment="selectForTeam">
    <form action="/teams/winnerTeam"  class="col-6" method="post" th:object="${team}">
        <div class="form-group col-6">
            <div class="form-group col-6">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <label>Drużyna</label>
                <select th:field="*{name}" name="name" id="name" th:value="*{name}">
                    <option th:each="i : ${teams}" th:value="${i}" th:text="${i}">Example 1</option>
                </select>
                <button type="submit" class="btn btn-primary">Wybierz</button>
            </div>
        </div>


    </form>
</div>

<div th:fragment="matchDtoTable">
    <table class="table table-sm">
        <thead class="thead-dark">
        <th scope="col">Kolejka</th>
        <th scope="col">Zwycięzca</th>
        <th scope="col">Liczba Goli</th>
        <th scope="col">Gospodarz</th>
        <th scope="col">Gość</th>
        <thead>
        <tbody>
        <tr th:each="match : ${matchDto}">
            <td th:text="${match.matchday}">[Matchday]</td>
            <td th:text="${match.winnerTeam}">[WinnerTeam]</td>
            <td th:text="${match.goals}">[Gaols]</td>
            <td th:text="${match.homeTeam}">[HomeTeam]</td>
            <td th:text="${match.awayTeam}">[AwayTeam]</td>

        </tr>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="matchList-withoutActionButtons">
    <table class="table table-sm">
        <thead class="thead-dark">
        <!--<th scope="col">ID</th>-->
        <th scope="col">Kolejka</th>
        <th scope="col">Grupa</th>
        <th scope="col">Gospodarz</th>
        <th scope="col">Wynik</th>
        <!--<th scope="col"></th>-->
        <th scope="col">Gość</th>
        <th scope="col">Czas trwania</th>
        <th scope="col">Dodaj</th>
        <thead>

        <tbody>
        <tr th:each="match : ${matchList}">
            <!--<td th:text="${match.id}">[ID]</td>-->
            <td th:text="${match.matchday}">[Matchday]</td>
            <td th:text="${match.group}">[Group]</td>
            <td th:text="${match.homeTeam.name}">[HomeTeam]</td>
            <!--<td></td>-->
            <!--<td></td>-->
            <td th:text="${match.homeTeamGoals} + ' : ' + ${match.awayTeamGoals}">[HomeTeamGaols]</td>
            <!--<td th:text="${match.awayTeamGoals}">[AwayTeamGaols]</td>-->
            <td th:text="${match.awayTeam.name}">[AwayTeam]</td>
            <!--<td></td>-->
            <td th:text="${match.duration}">[Duration]</td>
            <td>
                <div>
                    <form action="/match/add" method="post" th:object="${match}">
                        <input type="hidden" id="matchday" name="matchday" th:value="*{matchday}"/>
                        <input type="hidden" id="group" name="group" th:value="*{group}"/>
                        <input type="hidden" id="homeTeam.name" name="homeTeam.name" th:value="*{homeTeam.name}"/>
                        <input type="hidden" id="awayTeam.name" name="awayTeam.name" th:value="*{awayTeam.name}"/>
                        <input type="hidden" id="homeTeamGoals" name="homeTeamGoals" th:value="*{homeTeamGoals}"/>
                        <input type="hidden" id="awayTeamGoals" name="awayTeamGoals" th:value="*{awayTeamGoals}"/>
                        <input type="hidden" id="duration" name="duration" th:value="*{duration}"/>
                        <button type="submit" class="glyphicon glyphicon-plus"></button>
                    </form>
                </div>
                <!--<div>-->
                <!--<a  href="#" th:href="@{/match/edit/__${match.id}__}"><span class="glyphicon glyphicon-pencil"></span></a>-->
                <!--</div>-->
                <!--<div>-->
                <!--<a  href="#" th:href="@{/match/delete/__${match.id}__}" ><span class="glyphicon glyphicon-trash"></span></a>-->
                <!--</div>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>
