<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <title>Indeks</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>


<body>
<div th:fragment="menu">
    <nav>
        <div><a href="/" th:text="Home">Thymeleaf not working [HOME]</a></div>
        <div><a href="/team/list">Lista drużyn</a></div>
        <div><a href="/team/addForm">Dodaj drużynę</a></div>
        <div><a href="/match/list">Lista rozgrywek</a></div>
        <div><a href="/match/addForm">Dodaj mecz</a></div>
        <!--<div><a href="/teams/winnerTeam">Lista wygranych meczów</a></div>-->
        <!--<div><a href="/interestingFacts/bestTeam">Best team [API]</a></div>-->
        <div><a href="/teams/selectTeam">Lista wygranych meczów danego zespołu</a></div>
    </nav>
</div>
<div th:fragment="selectForTeam">
    <form action="/teams/winnerTeam"  class="col-6" method="post" th:object="${team}">
        <div class="form-group col-6">
            <div class="form-group col-6">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <label>Drużyna</label>
                <select th:field="*{name}" name="name" id="name" th:value="*{name}">
                    <option th:each="i : ${teams}" th:value="${i}" th:text="${i}">Example 1</option>
                </select>
                <button type="submit" class="btn btn-primary">Wybierz</button>
            </div>
        </div>


    </form>
</div>
</body>

</html>
