<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Lista rozgrywek</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:include="components :: menu"></div>
<form action="/teams/add" class="col-6" method="post" th:object="${Match}">
    <div class="form-group col-6">
        <div class="form-group col-6">
            <input type="hidden" id="id" name="id" th:field="*{id}"/>
            <label>Drużyna</label>
            <select th:field="*{team}" name="team" id="team">
                <option th:each="i : ${teams}" th:value="${i.id}" th:text="${i.name}">Example 1</option>
            </select>
        </div>
    </div>

</form>
<table class="table table-sm">
    <thead class="thead-dark">
    <th scope="col">Matchday</th>
    <th scope="col">WinnerTeam</th>
    <th scope="col">Goals</th>
    <th scope="col">homeTeam</th>
    <th scope="col">awayTeam</th>
    <thead>
    <tbody>
<tr th:each="match : ${matchDto}">
    <td th:text="${match.matchday}">[Matchday]</td>
    <td th:text="${match.winnerTeam}">[WinnerTeam]</td>
    <td th:text="${match.goals}">[Gaols]</td>
    <td th:text="${match.homeTeam}">[HomeTeam]</td>
    <td th:text="${match.awayTeam}">[AwayTeam]</td>

</tr>
</tr>
</tbody>
</table>

</body>
</html>