<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Lista rozgrywek</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:include="components :: menu"></div>
<h4>Lista zespołów [local db]</h4>

<table class="table table-sm">
    <thead class="thead-dark">
    <th scope="col">ID</th>
    <th scope="col">Kolejka</th>
    <th scope="col">Grupa</th>
    <th scope="col">Gospodarz</th>
    <th scope="col">Wynik</th>
    <!--<th scope="col"></th>-->
    <th scope="col">Gość</th>
    <th scope="col">Czas trwania</th>
    <th scope="col">[]</th>
    <thead>

    <tbody>
    <tr th:each="match : ${matchList}">
        <td th:text="${match.id}">[ID]</td>
        <td th:text="${match.matchday}">[Matchday]</td>
        <td th:text="${match.group}">[Group]</td>
        <td th:text="${match.homeTeam.name}">[HomeTeam]</td>
        <!--<td></td>-->
        <!--<td></td>-->
        <td th:text="${match.homeTeamGoals} + ' : ' + ${match.awayTeamGoals}">[HomeTeamGaols]</td>
        <!--<td th:text="${match.awayTeamGoals}">[AwayTeamGaols]</td>-->
        <td th:text="${match.awayTeam.name}">[AwayTeam]</td>
        <!--<td></td>-->
        <td th:text="${match.duration}">[Duration]</td>
        <td >
            <div>
                <a  href="#" th:href="@{/match/edit/__${match.id}__}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
            <div>
                <a  href="#" th:href="@{/match/delete/__${match.id}__}" ><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div th:text="'Strona numer: ' + ${page}"> </div>
<div th:text="'Liczba elementów na stronie: ' + ${pageSize}"> </div>
<form th:action="@{/match/list?page=__${page}__}" action="/match/list">
    Idź do strony: <input type="number" name="page" min="0" th:value="${page}">
    <input type="submit" value="Ok">
</form>

</body>
</html>
